/target
/logs
/classes
/checkouts
/node_modules
/resources/public/js
/dev/resources/local.edn
/dev/src/local.clj
/.shadow-cljs
/.idea
/.lein-*
/.nrepl-port
/.dir-locals.el
pom.xml
pom.xml.asc
package-lock.json
*.jar
*.class
*.iml
