body {
    font-family: 'Fira Code', monospace;
    font-size: 0.875rem;
    font-weight: 400;
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}
