{:duct.profile/base
 ;; =============================================================================
 ;; Base config
 ;; =============================================================================
 {:duct.core/project-ns dreef}


 ;; =============================================================================
 ;; Profiles
 ;; =============================================================================
 :duct.profile/dev   #duct/include "dev.edn"
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/prod  {}}
